@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}

.h1{
font-size: 50px;
margin-top: 350px;
color: lightblue;
}

#skills{
  height: 100vh;
}

#experience{
  background-color: lightgray;
  height: 100vh;
}

#contact{
  height: 100vh;
}

body {
 background: #f9f9f9;
 min-height: 100vh;
overflow-x: hidden;
}

.icon{
  font-size: 24px;
}
.icon1{
  font-size: 24px;


}
.icon:hover{
  color: #81aee9;
  
}

header {
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: flex-start;
align-items: center;
z-index: 100;
}

.navigation{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 100px;
  font-size:20px;
}
.navigation a {
  text-decoration: none;
  color: black;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover 
 {
  background: lightblue;
  color: #fff;
}

.port{
position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

#text {
  position: absolute;
  font-size: 5em;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0,.2);

}

.port img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.inner{
padding-top: 20px;
}

.header{
text-align: center;
color: black;
padding: 1rem;
position: relative;
}

.header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #2ecc71;
}

.container{
display: grid;
grid-template-columns: repeat(3,1fr);
justify-content: center;
align-items: center;
text-align: center;
grid-gap: 1rem;
padding: 1rem 80px;
font-size: 1.2rem;
}


.skill-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}


.img{
  height: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.skill-title h3{
  color: #fff;
  margin-top: 0.5rem;
}
.skill-icon{
  width: 100px;
  z-index: 2;
} 
.logoheader{
  width: 150px;
  z-index: 2;
}

.about-section{
  background: url(about\ me.jpg) no-repeat left;
  background-size: 55%;
  background-color: white;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
 width: 55%;
  float: right;
  background-color: white;
  padding: 120px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}


.contactcontainer{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: url(phone.jpg) no-repeat center center/cover;
}

@media screen and (max-width: 850px){
.contactcontainer{
  background: url(phone.jpg) no-repeat center center/cover;
  position: relative;
  }
}
.contactcontainer form h1{
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 45px;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: lightblue;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 850px){

  .h1{
    font-size: 25px;
    margin-top: 350px;
    color: lightblue;
    }
}


@media screen and (max-width: 850px){

  .port img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }
  
}


@media screen and (max-width: 850px){

.inner-container{
padding: 80px;
}
}

@media screen and (max-width: 850px){
  .about-section{
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container{
  width: 100%;
  }
  }

  @media screen and (max-width: 850px){
    .about-section{

      padding: 0;
    }
    .inner-container{
    padding: 60px;
    }
    }


@media screen and (max-width: 850px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px ;
  }
}

@media screen and (max-width: 850px) {
  .container{
    grid-template-columns: 1fr;
  }
  
}

@media screen and (max-width: 850px) {
  .contactcontainer{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px ;
  }
}

@media screen and (max-width: 850px) {
  .container h3{
    font-size: 15px;

  }
  .container p{
    font-size: 9px;

  }
}
@media screen and (max-width: 850px) {
.skill-icon{
  width: 50px;
  z-index: 1;
} 
}
@media screen and (max-width: 850px) {
.container{
  display: grid;
  grid-template-columns: repeat(3,2fr);

  }
}

@media screen and (max-width: 850px) {
  .contactcontainer h3{
    font-size: 15px;
      }
}

@media screen and (max-width: 850px) {
.contactcontainer form h1{
  font-size: 30px;
}
}